<li class="flex items-center justify-around py-3 pl-3 pr-4 my-2 text-sm shadow">
  <div>
    <i class="fa-regular fa-calendar-plus"></i>
    <%= convert_date_ymd device_history.input_date %>
  </div> 
  /
  <div>
    <i class="fa-regular fa-calendar-check"></i>
    <%= convert_date_ymd device_history.output_date %>
  </div>
</li>
