<td class="bg-white border-gray-600 overflow-hidden rounded shadow p-2" colspan="8">
  <% Settings.skeleton.number_of_records_5.times do  %>
    <div class="w-full py-4 rounded animate-pulse bg-gray-300 block mb-4"></div>
  <% end %>
</td>
