<li class="flex">
  <%= button_to topnav_path, data: {turbo: "false"}, method: topnav_method, class:"inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800" do %>
    <i class="<%= topnav_icon %> w-4 h-4 mr-3"></i>
    <span><%= topnav_content %></span>
  <% end %>
</li>
