<div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="#" >
      <%= t ".logo"  %>
    </a>
    <ul class="mt-6">
      <%= render "layouts/shared/navigation/item", navigation_path: root_path, navigation_active: is_active_navigation?(:static_pages), navigation_icon: "fa-solid fa-house", navigation_content: t(".home") %>
      <%= render "layouts/shared/navigation/item", navigation_path: brands_path, navigation_active: is_active_navigation?(:brands), navigation_icon: "fa-solid fa-code-branch", navigation_content: t(".brand") %>
    </ul>
</div>
