<td class="bg-white border-gray-600 overflow-hidden rounded shadow p-2" colspan="7">
  <% Settings.skeleton.number_of_records_4.times do %>
    <div class="grid grid-cols-3 gap-4 py-2 rounded animate-pulse mb-2">
      <% Settings.skeleton.number_of_records_3.times do %>
        <div class="bg-gray-300 p-3 rounded"></div>
      <% end %>
    </div>
  <% end %>
</td>
