<div class="w-full p-6 my-4 bg-white border border-gray-50 rounded-lg shadow">
    <div>
        <strong><%= t".file_name" %></strong>: <%= import_history.file_name%>
    </div>
    <div>
        <strong><%= t".input_date" %></strong>: <%= convert_datetime_ymd_hms import_history.input_date%>
    </div>
</div>
