@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@keyframes back-out-up {
  0%, 60% {
    opacity: 1
  }

  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: .7
  }

  to {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: .7
  }
}
