<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/without_login/head"%>
  </head>
  <body>
    <%= yield %>
    <div id="flash" class="fixed z-[999] top-[10%] left-[50%] translate-x-[-50%] flex flex-col items-center gap-2">
      <%= render "layouts/flash" %>
    </div>   
  </body>
</html>
